.meals {
  max-width: 60rem;
  width: 80%;
  margin: 12rem auto;
  animation: meals-appear 1s ease-out forwards;
  font-size:0.8rem;
}

.meals ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

@keyframes meals-appear {
  from {
    opacity: 0;
    transform: translateY(3rem);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (min-width: 600px) {
    .meals{
        width: 70%;
        font-size: 1rem;
    }

    
  }