.meal {
  padding: 1rem;
  border-bottom: 1px solid #ccc;
}
.mealOrder {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}

.meal h3 {
  margin: 0 0 0.25rem 0;
}

.description {
  font-style: italic;
}

.price {
  margin-top: 0.25rem;
  font-weight: bold;
  color: #E03E36;
  font-size: 1.25rem;
}
