.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 4rem;
  background-color: #3f3f3fee;
  color: #e4e4e7;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10%;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  z-index: 10;
  border-bottom: 1.5px solid #e4e4e7c5;
  font-size: 0.4rem;
}

.mainImage {
  width: 100%;
  height: 15rem;
  z-index: 0;
  overflow: hidden;
}

.mainImage img {
  width: 110%;
  height: 100%;
  object-fit: cover;
  transform: rotateZ(-4deg) translateY(-4.5rem) translateX(-1rem);
}

@media (min-width: 450px) and (max-width: 600px) {
  .header {
    font-size: 0.5rem;
  }

  .mainImage {
    height: 17rem;
  }
}

@media (min-width: 600px) and (max-width: 1300px) {
  .header {
    height: 5rem;
    font-size: 0.7rem;
  }

  .mainImage {
    height: 20rem;
  }
}

@media (min-width: 1300px) {
  .header {
    height: 6rem;
    font-size: 0.9rem;
  }
  .mainImage {
    height: 25rem;
  }
}
